*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content:space-between;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 rgba(255, 0, 0, 0.5);
    /* margin : 5px; */
}
.image{
    width: 100px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.nav-container > ul {
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    margin-right: 25px;
    list-style-type: none;
    font-size: 20px;
}

.nav-container > ul > li {
    margin-right: 20px; /* Adjust the value according to your spacing preference */
    margin : 0px  20px
}

.btn-container{
    padding : 5px;
    margin : 5px 5px 5px 5px;
}
.search-box{
    margin: 5px;
}
.search-btn{
    margin: 5px;
}
.res-cart-container{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 0px 1px palegoldenrod;
    padding: 8px;
    margin: 10px;
}
.res-cart-container:hover{
    border: 2px solid grey;
    cursor: pointer;

}
.res-img{
    width: 185px;
    height: 120px;
    /* padding: 8px; */
    
}

.res-cart-container > h3{
    padding: 3px
}

.res-cart-container > h4{
    padding: 3px
}

.res-cart-container > h5{
    padding: 3px
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.simmer-container{
    display: flex;
    flex-wrap: wrap;
}
.simmer-card{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 0px 1px palegoldenrod;
    padding: 8px;
    margin: 10px;
    background-color: #e3e3e3;
}

.login-btn{
    padding: 0px 15px;
    cursor: pointer;
}
.detail-card{
    padding: 15px 15px;
    border: solid black 2px;
}